name: Deploy React App to Github PAges

on:
  push:
    branches:
      - main

jobs:
  bild-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Chackout repository
        uses: actions/checkout@v4

      - name: Set up NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      
      - name: Install dependencies
        run: npm install

      - name: Build React App
        run: npm run build

      - name: Deploy to Github Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist